.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7rem;
    z-index: 1000;
}

.nav-section{
    width: 100%;
    position: fixed
}

.right-section{
    background-color: rgb(235,235,235);
    height: 100%;

}