.experience-section{
    height: 100%;
    padding: 4rem;
}

.experience-container{
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
}

.experience-heading{
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.experience-text{
    color: rgb(134, 134, 134);
    margin-top: 0.5rem;
    margin-bottom: 2.2rem;
}

.add-experience{
    display: flex;
    align-items: center;
}


.add-exp-button{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.add-experience-button{
    background-color: black;
    color: white;
    font-size: 1.7rem;
    margin-right: 0.8rem;
    border-radius: 50%;
    padding: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* Form Styling */

.experience-box{
    margin-bottom: 1.5rem;
}

.experience-entry{
    margin-bottom: 2rem;
}

.experience-deleteIcon{
    display: grid;
    grid-template-columns: 1fr 45px;
}

.delete-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8fb;
    border: 1px solid rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    margin: 0.5rem;
}

.delete-icon img{
    height: 100%;
    width: 100%;
    width: 1.1rem;

}

.designation-input{
    width: 80%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.designation-input:focus, .address-input:focus, .start-date:focus, .end-date:focus{
    border: none; 
    box-shadow: none; 
    outline: none; 
}

.designation-input::placeholder{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
}

.all-address-input{
    display: flex;
    align-items: center;
    height: 2rem;
}

.address-input{
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
}

.address-input::placeholder{
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
}

.date{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.start-date, .end-date{
    border: none;
    font-family: 'Poppins', sans-serif;
}

.end-date{
    margin-left: 1rem;
}

.short-description:focus{
    border: 1px solid rgba(145, 145, 145, 0.39);
}

.short-description{
    font-family: 'Poppins', sans-serif;
    margin-top: 0.6rem;
    width: 100%;
    height: 6rem;
    border-radius: 10px;
    border: 1px solid rgba(145, 145, 145, 0.39);
    background-color: rgba(223, 223, 223, 0.144);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


