nav {  
    height: 3.5rem;  
    width: 100%;            
    display: flex;  
    justify-content: flex-end;   
    padding: 10px 20px;      
    background-color: rgb(34,12,45); 
    
}

.nav-heading{
    display: flex;
    padding: 0;
    margin: 0;
    width: 20%;
    align-items: center;
    padding-left: 2rem;
    color: rgb(254,200,142);
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-section{
    z-index: 999;
}

.profile-pic-nav{
    display: flex;  
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
}

.profile-pic-nav img {
    border-radius: 50%;
    width: 2vw;  /* Converted from 3% */
    height: 4vh; /* Converted from 70% */
    
}

.export-button {
    font: inherit;
    margin-right: 2rem;
    font-size: 0.8rem; 
    padding: 4px 24px; 
    background-color: #f9a825; 
    color: white; 
    border: none; 
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    transition: all 0.3s ease; 
    cursor: pointer; 
}

.export-button:hover {
    background-color: #f57f17; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.export-button:focus {
    outline: none; 
    border: 2px solid #f57f17; 
}


@media (max-width: 576px) {

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-pic-nav{
        display: none;
    }

    .nav-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        width: 50%;
        padding: 0;
    }
}


@media (min-width: 577px) and (max-width: 1199px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .profile-pic-nav {
        display: none;
    }
}


