nav {  
    height: 3.5rem;  
    width: 100%;            
    display: flex;  
    justify-content: flex-end;   
    padding: 10px 20px;      
    background-color: rgb(34,12,45);  
}

.nav-heading{
    display: flex;
    padding: 0;
    margin: 0;
    width: 20%;
    align-items: center;
    padding-left: 2rem;
    color: rgb(254,200,142);
    font-size: 1.1rem;
    font-weight: 500;
}

.profile-pic-nav{
    display: flex;  
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
}

.profile-pic-nav img {
    border-radius: 50%;
    width: 2vw;  /* Converted from 3% */
    height: 4vh; /* Converted from 70% */
    
}


/* Small devices (phones) */
@media (max-width: 576px) {
    /* Styles for small devices like phones */

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-pic-nav{
        display: none;
    }

    .nav-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        width: 50%;
        padding: 0;
    }
}

/* Medium devices (standard tablets and larger mobile devices) */
@media (min-width: 577px) and (max-width: 1199px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .profile-pic-nav {
        display: none;
    }
}


