.resume-page{
    display: grid;
    grid-template-rows: 15% 1fr 2fr 1fr;
    height: 1123px;
    background-color: white;
    margin: 3rem;
    background-image: url('../assets/Img/Resume-background.jpg');
    background-size: cover;
    background-position: no-repeat;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dp-address{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resume-page-dp{
    display: flex;
    align-items: center;
}

.resume-page-dp img{
    height: 70%;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.resume-page-address{
    display: flex;
    align-items: center;
    flex-direction: row;

}

.resume-page-address .resume-page-inner-details{
    margin-left: auto;
}

.resume-inner-text {
    padding: 0;
    margin: 0;
    color: rgb(136, 63, 4); 
    font-size: 0.8rem;
}

.resume-page-about{
    display: grid;
    grid-template-columns: 4rem 1fr;
    margin-top: 1rem;
}

.About{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(240, 240, 240);
    text-shadow: 
        1px 1px rgba(0, 0, 0, 0.6),
        -1px -1px rgba(0, 0, 0, 0.6),
        1px -1px rgba(0, 0, 0, 0.1),
        -1px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
    letter-spacing: 4px;
}

.name, .job-title{
    margin: 0;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.job-title{
    font-weight: 300;
    font-size: 1rem;
}