.your-details-container{
    padding: 4rem;
}

.heading-input{
    width: 50%;
    height: 40px;
    border: none;
}

.Title-your-details{
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    margin-top: 0;
}

.form-text{
    margin-top: 0.5rem;
}

.resume-dp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgb(145, 144, 144) solid 1px;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.job-title{
    display: flex;
    flex-direction: column;
}

.label-styling{
    color: rgb(94, 93, 93);
    font-size: 1rem;
}

.input-styling{
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    border: rgb(145, 144, 144) solid 1px;
}