.outer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.your-details-container{
    padding: 4rem;
}

.heading-input{
    width: 50%;
    height: 40px;
    border: none;
}

.Title-your-details{
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.form-text{
    margin-top: 0.5rem;
    color: rgb(134, 134, 134);
    margin-bottom: 2.2rem;
}

.resume-dp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: rgb(145, 144, 144) solid 1px;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.job-title{
    display: flex;
    flex-direction: column;
}

.label-styling{
    color: rgb(94, 93, 93);
    font-size: 1rem;
}

.input-styling{
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    border-radius: 20px;
    border: rgb(145, 144, 144) solid 1px;
    padding-left: 20px;
    font-family: 'poppins', sans-serif;
}

.personal-details-one{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.first-name, .second-name, .email, .phone{
    display: flex;
    flex-direction: column;
}

.first-name, .email{
    margin-right: 2rem;
}

.address{
    display: flex;
    flex-direction: column;
}

.back-button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3.8rem;
    padding-left: 3.8rem;
    border-radius: 30px;
    background-color: white;
    border: 1px rgb(146, 146, 146) solid;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.saveNext-button{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    background-color: #f9a966;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
}

.buttons-back-next{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 6rem;
}